<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - Carrito de Compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        /* Estilos compartidos con el formulario de inicio de sesión */
        body {
            font-family: 'Lato', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        header {
            background-color: #212121;
            color: #f7f7f7;
            padding: 1em;
            text-align: center;
        }

        .site-header h1 {
            margin: 0;
            font-size: 1.5em;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Estilos específicos del formulario de checkout */
        .checkout-form {
            background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
            border: 1px solid #ccc;
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
            padding: 15px; /* Reducir el espacio interno */
            max-width: 400px; /* Ajustar el ancho máximo según tus necesidades */
            margin: 20px auto; /* Centrar el formulario con un margen superior e inferior */
            color: #000; /* Color del texto: negro */
        }

        .checkout-form label {
            font-size: 14px;
            display: block;
            margin-bottom: 3px; /* Reducir el espacio entre las etiquetas */
        }

        .checkout-form input,
        .checkout-form select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px; /* Reducir el espacio entre los campos de entrada */
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        .checkout-form .select-container {
            display: flex;
            gap: 5px;
        }

        .checkout-form .select-container select {
            flex: 1;
        }

        .checkout-form button {
            background-color: #212121;
            color: #fff;
            font-size: 16px;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .checkout-form button:active {
            background-color: #191919;
        }
    </style>
</head>

<body>

    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/inicio">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catálogo</a>
                    <a href="/personajes">Personajes</a>
                    <a href="/carrito">Carrito</a>
                </nav>
            </div>
            <div class="content">
                <div class="checkout-form">
                    <form action="/pagoCarrito" method="post">
                        <label for="calle">Calle:</label>
                        <input type="text" id="calle" name="calle" required>

                        <label for="colonia">Colonia:</label>
                        <input type="text" id="colonia" name="colonia" required>

                        <label for="codigo_postal">Código Postal:</label>
                        <input type="text" id="codigo_postal" name="codigo_postal" required pattern="[0-9]{5}" required
                            title="El codigo postal debe contener 5 dígitos">

                        <label for="municipio_delegacion">Municipio/Delgación:</label>
                        <input type="text" id="municipio_delegacion" name="municipio_delegacion" required>

                        <label for="estado">Estado:</label>
                        <select id="estado" name="estado" required>
                            <option value="">Selecciona tu estado</option>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Ciudad de México">Ciudad de México</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Colima">Colima</option>
                            <option value="Durango">Durango</option>
                            <option value="Estado de México">Estado de México</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Michoacán">Michoacán</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo León">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatán">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                        </select>

                        <label for="telefono">Número de Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required
                            title="El número de teléfono debe contener 10 dígitos">

                        <label for="numTarjeta">Número de Tarjeta:</label>
                        <input type="text" id="numTarjeta" name="num_tarjeta" pattern="[0-9]{16}" required
                            title="El número de tarjeta debe contener 16 dígitos">

                        <label for="fechaExpiracion">Fecha de Expiración:</label>
                        <div class="select-container">
                            <select id="mesExpiracion" name="mes_expiracion" required>
                                <option value="">Mes</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <span>/</span>
                            <select id="anoExpiracion" name="ano_expiracion" required>
                                <option value="">Año</option>
                                <!-- Puedes ajustar el rango de años según tus necesidades -->
                                <option value="">Mes</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                            </select>
                        </div>

                        <label for="cvv">CVV:</label>
                        <input type="text" id="cvv" name="cvv" pattern="[0-9]{3}" required
                            title="El CVV debe contener 3 dígitos">

                        <button type="submit">Realizar Pedido</button>
                    </form>
                </div>
            </div>
        </div> <!-- contenedor -->
    </header>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="/catalogo">Catálogo</a>
                <a href="/personajes">Personajes</a>
            </nav>
            <p class="copyright">Todos los derechos reservados 2024 &copy;</p>
        </div>
    </footer>
</body>

</html>
