<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/estilos.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>

    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/inicio">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>
                    <a href="/register">Registrate</a>
                    <div class="boton-iniciar-sesion">

                        <a href="/index">INICIAR SESION </a>

                    </div>


                </nav>
            </div>

            <h1>ERROR 404</h1>
        </div> <!-- contenedor -->
    </header>


    <content class="error_gral">
        <div class="container">
            <p class="titError404">
                {{titulo}}
            </p>
            <p class="error404">{{descripcion}}</p>
        </div>
    </content>
    <section class="imagen-personajes">
        <div class="contenedor contenido-contacto">
            <h2>PERSONAJES</h2>
            <p>Encuentra los personajes más emblemáticos</p>
            <a href="/personajes" class="boton boton-rojo">VER PERSONAJES</a>
        </div>
    </section>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="/catalogo">Catálogo</a>
                <a href="/personajes">Personajes</a>
                <a href="/index">INICIAR SESIÓN</a>
            </nav>
            <p class="copyright">Todos los derechos reservados 2024 &copy;</p>
        </div>
    </footer>
</body>

</html>