<link rel="stylesheet" href="/css/Formu.css">
<h1 id="title">MENU DE ADMINISTRADOR</h1>
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </navbar>

<div>
 
  <button type="button" id="btnR1" onclick="REGISTRA()">registra</button> 
</div>


<script src="/js/Formu.js"></script>