<link rel="stylesheet" href="/css/Formu.css">
<h1 id="title" class="coltxt">{{title}}</h1>
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </navbar>
<body>
    <div>
  <button type="button" id="btnR0" class="btnsel" onclick="OPERATIVO()">OPERADOR</button> 
  <button type="button" id="btnR1" class="btnsel"onclick="ADMIN()">ADMINISTRADOR</button> 
</div>
</body>



<script src="/js/Formu.js"></script>