<link rel="stylesheet" href="/css/Formu.css">
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </navbar>
<body>
    <div class="contenedor-imagen">
        <img src="css/tite.jpg" alt="osomalo">
    </div>
    <p><div class="contenedor-texto">
        {{titulo}}
        </div>
    </p>
    <p><div class="contenedor-texto"> {{descripcion}}</div></p>
</body>
    
    <script src="/js/Formu.js"></script>