
<link rel="stylesheet" href="/css/Formu.css">
<h1 id="title">{{title}}</h1>
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                        
                    </ul>
                </div>
            </div>
</navbar>
<!--<div>
   <button type="button" id="btnC0" onclick="API()">CARGAR</button> 
</div>-->

<main id="main">
        <section id="section-form">

            <!-- formulario de busca --> 
            
            <form action="/cargar" method="GET" name="formbus" id="formbus" style="display: block;">            
                <div class="form-title">
                    <h2>Escriba el personaje que busca</h2>
                </div>
                 <label for="charname">
                    <input type="text" placeholder="Personaje" name="charname" pattern="[a-zA-Z]+" required>   
                </label>
                <button type="submit" id="btnR0" >Buscar</button> 
            </form>  
        </section>
    </main> 
<script src="/js/Formu.js"></script>