
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto EGA && IHM && EGF</title>
    <link rel="stylesheet" href="/css/Formu.css">
</head>
<body>
    <navbar>
    <div class="navlist">
        <div class="mylist">
            <ul class="list">
                <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
            </ul>
        </div>
    </div>
</navbar>
    
    <main id="main">
        <section id="section-form">

            <!-- formulario de registro --> 
            
            <form action="/registrar" method="POST" name="formReg" id="formReg" style="display: block;">            
                <div class="form-title">
                    <h2>Registro</h2>
                </div>
                <label for="username">
                    <input type="text" placeholder="Usuario" name="username" pattern="[a-zA-Z]+" required>   
                </label>
                <label for="userpasswd">
                    <input type="password" placeholder="Contrase침a" name="userpasswd" required>                
                </label>
                <label for="cpasswd">
                    <input type="password" placeholder="Contrase침a" name="cpasswd"  required>                
                </label>
                <label for="useremail">
                    <input type="text" placeholder="Correo electr칩nico" name="useremail"  required>                
                </label>

               <p> Seleccione la pregunta secreta de su preferencia</p>
                <select id="userquestion" name="userquestion">
                    <option value="Lugar favorito">Lugar favorito</option>
                    <option value="Nombre primer mascota">Nombre primer mascota</option>
                    <option value="Color favorito">Color favorito</option>
                    <option value="Comida favorita">Comida favorita</option>
                </select>

                <label for="useranswer">
                    <input type="password" placeholder="Respuesta a pregunta" name="useranswer" pattern="[A-Za-z]+" required>                
                </label>

                
                <select id="userposition" name="userposition">
                    <option value="0">Operativo</option>
                    <option value="1">Admin</option>
                </select>
                
                <button type="submit" id="btnR0" >Registrar</button> 
                <div class="link-container">
                    <a href="#" onclick="displayFormIS()">Iniciar Sesi칩n</a>
                </div>
            </form>  
        </section>
    </main> 
    <script src="/js/Formu.js"></script>
</body>
</html>

