<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Formu.css">
</head>
<body>
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </navbar>
    <main id="main">
        <section id="section-form">
            
            <!-- formulario olvidé contraseña --> 

            <form action="/cambia" method="POST" id="formOlv" >            
                <div class="form-title">
                    <h2>{{title}}</h2>
                </div>
                <p>{{ username }}</p>
                  
                <p>{{ userquestion }}</p>

                <label for="useranswer" id = "response">
                    <input type="password" placeholder="Respuesta a pregunta" name="useranswer" pattern="[A-Za-z]+" required>                
                </label>

                <button type="submit" id="btnnn">Enviar </button>  

            </form> 
            
        </section>
    </main> 
    <script src="/js/Formu.js"></script>
</body>
</html>
