<link rel="stylesheet" href="/css/Formu.css">
<navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </navbar>
<body>
    <div class="contenedor-imagen">
        <img src="css/ositogod.jpg" alt="osofeli">
    </div>
</body>
    <p>
        {{titulo}}
    </p>
    <p><div class="contenedor-texto">{{descripcion}}</div></p>

<script src="/js/Formu.js"></script>
