
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto EGA && IHM && EGF</title>
    <link rel="stylesheet" href="/css/Formu.css">
</head>
<body>
    
        <navbar>
            <div class="navlist">
                <div class="mylist">
                    <ul class="list">
                        <li><a href="#" onclick="INICIO()">Iniciar Sesion</a></li>
                        <li><a href="#" onclick="displayFormOlv()">Olvide contraseña</a></li>
                    </ul>
                </div>
            </div>
        </navbar>
    
    <main id="main">
        <section id="section-form">
            
            <!-- formulario de inicio de sesión --> 
            
            <form action="/login" method="POST" name="formIS" id="formIS" style="display: block;"> 
                <div class="form-title">
                    <h2>Inicio de Sesión</h2>        
                </div>
                <label for="username">
                    <input type="text" placeholder="Usuario" name="username" pattern="[a-zA-Z]+" required>                
                </label>
                <label for="userpasswd">
                    <input type="password" placeholder="Contraseña" name="userpasswd" pattern="[A-Za-z0-9!?-]{4,8}">                
                </label>

                <button type="submit"  id="btn">Ingresar</button>

            </form>  
            
            <form action="/correos" method="POST" id="formOlv" style="display: none;">            
                <div class="form-title">
                    <h2>Olvide contraseña</h2>
                </div>
                <label for="useremail">
                    <input type="text" placeholder="Email" name="useremail">                
                </label>

                <button type="submit" id="btnnn" style="display: block;" >Enviar </button>  

            </form> 
            
             
        </section>
    </main> 
    <script src="/js/Formu.js"></script>
</body>
</html>

